# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/ROS2/install
/ROS2/build
/ROS2/log
/ROS2/.vscode/browse.vc.db
/ROS2/.vscode/browse.vc.db-shm
/ROS2/.vscode/browse.vc.db-wal
/ROS2/.vscode/colcon.env

/Simulation_ros2/install
/Simulation_ros2/build
/Simulation_ros2/log
/ROS1/install
/ROS1/build
/ROS1/log
/ROS1/devel

/.vscode/
/Ceres/.vscode
/Ceres/*/build/




